
.num-boids{
  
  position: fixed;
  top:0;
  left: 89px; /* header width */
  height: 89px; /* header height */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);

  & p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
  }

  & > div{
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;

    & > a{
      text-align: center;
      color: var(--color);

      &.active{
        color: var(--anchor-color);
      }
    }
  }

}